<?xml version="2.0"?>

<model>
  <name>TurtleBot Tennis Arena</name>
  <version>2.0</version>
  <sdf version='1.5'>arena_2018.sdf</sdf>

  <author>
    <name>Felix Sternkopf</name>
    <email>sternkopf@sim.tu-darmstadt.de</email>
  </author>

  <description>
    TurtleBot Tennis Arena 2018.
  </description>
</model>
